CarritoDeCompras_2012.CS/Web References/ProxyVentasWS/VentasWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="localhost/VentasWS.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="localhost/VentasWS.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="localhost/VentasWS.asmx">
      <s:element name="HolaDesdeVentas">
        <s:complexType />
      </s:element>
      <s:element name="HolaDesdeVentasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HolaDesdeVentasResult" type="tns:ArrayOfCarritoItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCarritoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CarritoItem" nillable="true" type="tns:CarritoItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CarritoItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idProducto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreProducto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecioUnitario" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecioTotal" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearListado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="test" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearListadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearListadoResult" type="tns:ArrayOfCarritoItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cli" type="tns:Cliente" />
            <s:element minOccurs="0" maxOccurs="1" name="listado" type="tns:ArrayOfCarritoItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AgregarVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarVentaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HolaDesdeVentasSoapIn">
    <wsdl:part name="parameters" element="tns:HolaDesdeVentas" />
  </wsdl:message>
  <wsdl:message name="HolaDesdeVentasSoapOut">
    <wsdl:part name="parameters" element="tns:HolaDesdeVentasResponse" />
  </wsdl:message>
  <wsdl:message name="crearListadoSoapIn">
    <wsdl:part name="parameters" element="tns:crearListado" />
  </wsdl:message>
  <wsdl:message name="crearListadoSoapOut">
    <wsdl:part name="parameters" element="tns:crearListadoResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarVentaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarVenta" />
  </wsdl:message>
  <wsdl:message name="AgregarVentaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarVentaResponse" />
  </wsdl:message>
  <wsdl:portType name="VentasWSSoap">
    <wsdl:operation name="HolaDesdeVentas">
      <wsdl:input message="tns:HolaDesdeVentasSoapIn" />
      <wsdl:output message="tns:HolaDesdeVentasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearListado">
      <wsdl:input message="tns:crearListadoSoapIn" />
      <wsdl:output message="tns:crearListadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarVenta">
      <wsdl:input message="tns:AgregarVentaSoapIn" />
      <wsdl:output message="tns:AgregarVentaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VentasWSSoap" type="tns:VentasWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HolaDesdeVentas">
      <soap:operation soapAction="localhost/VentasWS.asmx/HolaDesdeVentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearListado">
      <soap:operation soapAction="localhost/VentasWS.asmx/crearListado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarVenta">
      <soap:operation soapAction="localhost/VentasWS.asmx/AgregarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VentasWSSoap12" type="tns:VentasWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HolaDesdeVentas">
      <soap12:operation soapAction="localhost/VentasWS.asmx/HolaDesdeVentas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearListado">
      <soap12:operation soapAction="localhost/VentasWS.asmx/crearListado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarVenta">
      <soap12:operation soapAction="localhost/VentasWS.asmx/AgregarVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VentasWS">
    <wsdl:port name="VentasWSSoap" binding="tns:VentasWSSoap">
      <soap:address location="http://localhost:6616/VentasWS.asmx" />
    </wsdl:port>
    <wsdl:port name="VentasWSSoap12" binding="tns:VentasWSSoap12">
      <soap12:address location="http://localhost:6616/VentasWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>